<li class="open" id="menu-sidebar-mygroups">
	<a href="javascript:void(0)">
	    <span class="icone icone-group"></span><%= t :my_group, scope: [:default_left_sidebar] %>
	    <span class="arrow"></span>
	</a>
	<span class="count"></span>
	<ul id="group_list"></ul>
</li>