<header>
    <section>
        <a class="logo" href="<%= root_path %>">
            <h1>Eim</h1>
            <img src="<%= asset_path 'DEMO/img/logo-b.png' %>"/>
        </a>
        <ul id="main-menu">
            <li><a href="#">Learn More</a></li>
            <li><a href="#">Contact Sales</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="<%= signin_path %>">Login</a></li>
            <li><a href="javascript:void(0)" id="set-locale-btn" style="border-left:1px solid #fff;padding-left:25px"></a></li>
        </ul>
    </section>
</header>