<div class="sidebar">
    <ul class="menu-sidebar">
        <li><a href="<%= edit_user_path(current_user) %>"><span class="icone icone-profile"></span>Profile</a></li>
        <li><a href="<%= password_user_path(current_user) %>"><span class="icone icone-password"></span>Password</a></li>
        <li><a href="<%= settings_path %>"><span class="icone icone-setting"></span>Setting</a></li>
    </ul>
</div>